################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/examples/BlazingAppleConsumer.FontAwesome/BlazingAppleConsumer.FontAwesome/bin/Debug/net6.0
/examples/BlazingAppleConsumer.FontAwesome/BlazingAppleConsumer.FontAwesome/obj
/examples/BlazingAppleConsumer.FontAwesome/.vs
/src/BlazingApple.FontAwesome/.vs
/src/BlazingApple.FontAwesome/BlazingApple.FontAwesome/bin
/src/BlazingApple.FontAwesome/BlazingApple.FontAwesome/obj
