################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/examples/BlazingAppleConsumer.FontAwesome/BlazingAppleConsumer.FontAwesome/bin/Debug/net6.0
